@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/utils";

.hero {
  @extend %page-section;

  height: 100%;
  margin-top: 2rem;
  margin: auto;
  @include respondMax("tablet") {
    padding: 2rem 0rem;
  }
}

.heroTop {
  @include flex(space-between, center, nowrap);
  padding: 1rem auto;
  @include respondMax("tablet") {
    @include flex(space-between, center, column nowrap);
  }
}
.hero_textsection {
  text-align: left;
  @include respondMax("tablet") {
    text-align: center;
    padding: 0rem 5% 2rem !important;
  }
  h3 {
    font-size: 48px;
    color: $col-black;
    margin: 0;
    @include respondMax("tablet") {
      font-size: 25px;
    }
  }
  h4 {
    font-size: 20px;
    color: $col-black;
    margin: 0;
  }
  p {
    margin-top: 1rem;
    color: $col-grey !important;
    line-height: 2rem;
    font-size: 18px;
    text-align: left;
    @include respondMax("tablet") {
      padding: 0;
      font-size: 15px;
      line-height: 4rem;
      text-align: center;
    }
  }
  @include respondMax("tablet") {
    padding: 1rem 2%;
  }
}

.hero_textsection2 {
  text-align: center;
  @include respondMax("tablet") {
    margin: 20px 0px;
  }
  h4 {
    font-size: 24px;
    color: $col-black;
    margin: 0;
  }
  p {
    margin-top: 1rem;
    color: $col-grey !important;
    line-height: 2rem;
    font-size: 18px;
    text-align: center;
    padding: 0 20%;
    @include respondMax("tablet") {
      padding: 0;
      font-size: 15px;
      line-height: 4rem;
    }
  }
  @include respondMax("tablet") {
    padding: 1rem 2%;
  }
}

.hero_buttons {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  column-gap: 1rem;
  @include respondMax("tablet") {
    width: 100%;
    margin: 1.5rem 0;
    row-gap: 1.2rem;
    grid-template-columns: 1fr;
  }
  .hero_button {
    padding: 1.1rem 4rem !important;
    @extend %btn_primary;

    &:nth-child(2) {
      @extend %btn_primary_outline;
      font-size: 12px;
    }

    @include respondMax("tablet") {
      width: 100%;
      font-size: 12px;
      padding: 2.5rem 4.5rem !important;
    }
  }
}

.hero_imagesection {
  display: grid;
  place-items: center;
  position: relative;
  z-index: 10;
  margin: 0 20px;
  padding: 0 60px;
  background-image: url("/svg/heroTop.svg");
  background-color: #007de8;
  border-radius: 20px;
  @include respondMax("tablet") {
    padding: 0 20px;
    margin: 0;
  }
  > span {
    margin-top: 50px !important;
    @include respondMax("tablet") {
      width: 100% !important;
      margin-top: 10px !important;
    }
  }
  @include respondMax("tablet") {
    margin-top: 4rem;
    margin-bottom: 6rem;
    margin: 0;
  }
}

.avartar {
  position: absolute;
  z-index: 20;
  right: 30%;
  @include respondMax("tablet") {
    right: -5%;
  }
  > span {
    @include respondMax("tablet") {
      width: 80% !important;
    }
  }
}
.dare {
  position: absolute;
  z-index: 20;
  left: 30%;
  top: 0;
  @include respondMax("tablet") {
    left: -5%;
  }
  > span {
    @include respondMax("tablet") {
      width: 80% !important;
    }
  }
}
.modal {
  position: absolute;
  z-index: 20;
  left: 35%;
  @include respondMax("tablet") {
    left: 70%;
    top: 20px;
  }
  > span {
    @include respondMax("tablet") {
      width: 80% !important;
    }
  }
}
.modal1 {
  display: none;
  position: absolute;
  z-index: 20;
  left: -3%;
  bottom: 30px;
  @include respondMax("tablet") {
    display: block;
  }
}

.hero_bottomsections {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  column-gap: 3rem;
  @include respondMax("tablet") {
    width: 85%;
    margin: 1.5rem auto 3rem;
    row-gap: 2rem;
    grid-template-columns: 1fr;
  }
  .hero_bottomsection {
    @include flex(space-between, flex-start, column nowrap);
    background-image: url("/svg/heroDoodle.svg");
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 10px;
    h4 {
      margin: 0;
      font-size: 18px;
      text-align: left;
      margin-top: 13px;
    }
    p {
      text-align: left;
      margin: 0;
      margin-top: 13px;
      margin-bottom: 10px;
      padding-right: 20%;
      line-height: 20px;
      color: $col-grey !important;
      @include respondMax("tablet") {
        font-size: 12px;
      }
    }
  }
}
