// colors
$col-white: #ffffff;
$col-black: #00192e;
$col-dark: #0a0a0a;
$col-grey: rgba(0, 25, 46, 0.5);

$col-primary: #007de8; //#0F0E2D;

$col-secondary: #f7b3b4;

// fonts
$font-default: "Poppins", sans-serif;
